body {
	padding: 70px;
	/*background-image: url("crochet_yarn.jpg");*/
	background-size: 100% 100%;
	background-blend-mode: luminosity;
}

.clearit {
	clear: right;
}

p, ol {
	color: black;
	font-size: 120%;
	text-align: justify;
	margin-bottom: 40px

}

/*applies to all h1 elements*/
h1 {
	color: darkgreen;
	font-size: 2em;
}

/* to all h4 elements*/
h4 {
	text-align: center;
	font-weight: bold;
}

/* to highlight pink and make italic. tried hier on footer*/
.surligner {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
	background-color: pink;
	opacity: .4;
	text-align: center;
}

/* to make black. tried on 'want to go back on top' paragraph*/
.black {
	color: black;
}

/*apply specific changes to tag with id 'top'. tried on 'Bienvenue sur Rholy Crochet'*/
#top {
	font-size: 120%;
	background-color: pink;
	font-style: italic;
	font-weight: bold;
	opacity: .6
}

/* apply to element with both 'p' and 'black'. tried on paragraphs'je me suis bien...'and'wanttogo back ontop'*/
p.black {
	font-style: italic;
	}

/* apply to all 'a' that are direct child of 'li'. tried on the links on top of the page*/
li > a {
	font-style: italic;
}

/*apply to all a inside div (direct child or not). tried on Back to top, Facebook and Researchgate*/
div a {
	color: orange;
	}



/*PSEUDO CLASS SELECTORS*/
/* 1- Remove bullet points from unodered list. tried on links in header on top page*/
header li {
	list-style: none;
	}

/* 2- Style a link and make it look like a button. tried on header*/
header a:link, header a:visited {
	text-decoration: none; /*removes underline*/
	background-color: lightgreen; /*add background*/
	border: 1px solid orange;
	color: black;
	display: block; /*par opposition à line. The background box color will now cover the entire line*/
	width: 230px;
	height: 25px;
	text-align: center;
	margin-bottom: 2px; /*add margin at bottom of each background box*/
	overflow: auto;
	}


/*what happens when user hover (roll over) or press on a button. tried on header*/
header a:hover, header a:active {
	background-color: orange;
	color: darkblue;
	opacity: .7
	}


/*target a specific nth element in a list. tried on 5th element of header which is 'Nous contacter'*/
header li:nth-child(5) {
	font-size: 1.5em
	}


/*set background color to some elements of a list(odered or not). tried on odd elements of Nos partenaires*/
ol li:nth-child(odd) {
	background-color: grey;
	}


/*combine selectors and pseudo-selectors. tried to set behaviour of 3rd element of Nos partenaires*/
ol li:nth-child(3):hover {
	background-color: orange;
	color: darkblue;
	cursor: pointer; /*there are many cursor options: crosshair, wait, all-scroll...*/
	opacity: .7
	}
